@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans antialiased;
  }

  body {
    @apply m-0;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE / old Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Edge */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Light */
@font-face {
  font-family: 'Apercu Pro';
  src: url('./fonts/ApercuPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
}

/* Regular */
@font-face {
  font-family: 'Apercu Pro';
  src: url('./fonts/apercu_regular_pro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Regular Italic */
@font-face {
  font-family: 'Apercu Pro';
  src: url('./fonts/apercu_regular_italic_pro.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Apercu Pro';
  src: url('./fonts/apercu_medium_pro.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Apercu Pro';
  src: url('./fonts/apercu_bold_italic_pro.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

